/* Now we using @/style/global.scss */

.calendarCollapseButton {
    width: 100px;
}
.login {
    width: 1000px;
}
.collapseCalendarList {
    position:absolute;
    z-index: 1;
    background-color: white;
    width: 40px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
